body::before{
  background-image: url("https://www.projectmanager.com/wp-content/uploads/2024/10/Corrective-action-plan-template-featured-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-position: center;
  width: 100vw; /*ضرورى*/
  height: 100vh; /*ضرورى*/
  content:"";
  top: 0;
  bottom: 0;
  opacity:0.85;
  z-index:-1;
}




.username,
.region{
  color: red;
  font-family: Monospace;
  border-color: grey;
  border-style: groove;
  padding:10px;
  margin: 5px;
  width:fit-content;
  margin-left:79%;
  font-weight: bolder;
}

#username{
  margin-left:15px;
}

h1{
  border-radius: 10px;
  border-style: groove;
  border-color: grey;
  width:fit-content;
  padding:2px;
  text-align:center;
  margin:auto;
 }
 
 .generalinfo{
  font-size: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2px;
  text-align: center;
  gap: 5px;
  color: red;
}

.generalinfo input,
.generalinfo select{
  color: red;
  font-size: 20px;
  width:150px ;
  
}

.risk,
.action{
  font-size: 25px;
  color:blue;
  display:inline-flex;
  padding:5px;
  border-radius: 15px;
  border-style:groove;
  border-color: rgba(225, 225, 225, 0.5);
  width: fit-content;
  justify-content: center; 
  margin-bottom: 5PX;
}

.risk{
  margin-bottom: 5px;
}
.risk select{
  color: blue;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  width:1120px;
  height: auto;
  margin-left:151px;

}
.action input{
  color: blue;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  width:1110px;
  height: auto;
  margin-left:20px;
}

.branchresponse{
  font-size: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:5px;
  text-align:center;
  border-radius:15px;
  border-style: groove;
  border-color: rgba(225, 225, 225, 0.50);
  font-family: 'Times New Roman', Times, serif;
  padding:5px;
  width: 1315px;
  color:blue;
  margin-bottom: 5px;

}

.branchrespose input,
.branchresponse select{
  color:red;
  width:150 px;
  margin-left:2px;
  font-size: 20px;
  text-align: center;
}



.branchremark{
   border-radius: 15px;
   font-size:25px;
   color:blue;
   border-style:groove;
   border-color: rgba(225, 225, 225, 0.50);
   width:1315px;
   height: 50px;
   padding:5px;
   margin-bottom: 5px;
}

.branchremark textarea{
  width: 1120px;
  height: 45px;
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 91px;
  resize: none;
}

.wspcomment{
   border-radius: 15px;
   font-size:25px;
   color:blue;
   border-style:groove;
   border-color: rgba(225, 225, 225, 0.50);
   width:1325px;
   
   
}
.wspcomment textarea{
  width: 1125px;
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px; 
  margin-left:20px;
  overflow: auto;
  resize: none;
  box-sizing: border-box;
  
}

.duration input{
  color: blue;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 3px;
  box-sizing: content-box;
  width: 50px;
  text-align: center;
}

.buttons button{
  justify-content: space-between;
  font-size: 15px;
  color:red;
  display: inline-flex;
  transform: translateX(450%);
}
